:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  mat-dialog-content {
    min-height: auto;
    overflow: auto;
  }

  @import "../../../../../../assets/scss/dialod.scss";

  
}
