<div class="dialog-header" >
  <div class="close-dialog">
        <button mat-icon-button mat-dialog-close class="button-close--outlined" color="primary">
            <mat-icon>close</mat-icon>
        </button>
  </div>  
  <span class="modal-title" >Accedi</span>
</div>
<form (ngSubmit)="onYesClick()" [formGroup]="formGroup">
    <div class="form__body">
      <mat-form-field class="mb-3" >
        <input matInput  type="text" placeholder="Username" formControlName="username" required>
        <mat-icon matSuffix>perm_identity</mat-icon>
        <mat-error class="error-message" *ngIf="formGroup.controls['username'].hasError('required')">Lo username è obbligatoria</mat-error>
      </mat-form-field>
      <mat-form-field class="mb-3"   >
        <input matInput  type="password" placeholder="Password" formControlName="password" required>
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error class="error-message" *ngIf="formGroup.controls['password'].hasError('required')">La password è obbligatoria</mat-error>
      </mat-form-field>
    </div>
    <div class="text-right">
        <a (click)="Forgot()" class="forgot">Hai dimenticato la password?</a>
    </div>
    <br>
    <div class="form__footer">
      <button mat-raised-button class="col-6" type="submit" color="accent" [disabled]="!formGroup.valid">
          Login
      </button>
    </div>
    <br>
    <div class="text-right" >
        Non hai un account? <a (click)="Registration()">Registrati</a>
    </div>
</form>
