
<div class="col-lg-9 waiting-card__container">
    <div class="card">
        <div class="card-header">
            <div class="text-right">
                    <button mat-button class="close-card" (click)="exit()"><mat-icon>close</mat-icon></button>
            </div>
            <div class="card-title" [ngStyle]="setMyStyles()">
                <mat-icon *ngIf="service === 'CHAT'">forum</mat-icon>
                <mat-icon *ngIf="service === 'VIDEOCHAT'">videocam</mat-icon>
                <span>{{service | titlecase}}</span>
            </div>
        </div>
        <div class="card-body">
            <div class="queue" [ngClass]="{'next' : ticketInWaiting < 2}" *ngIf="ticketInWaiting > 0">{{ticketInWaiting+1}}</div>
            <div class="queue" [ngClass]="{'next' : ticketInWaiting < 2}" *ngIf="ticketInWaiting < 1">{{ticketInWaiting+1}}</div>
            <div class="info-queue">Persone sono in coda prima di te</div>

        </div>
        <div class="card-footer" >
            <mat-icon>alarm</mat-icon>
            <div class="card-footer__queue">
                <span class="card-footer__queue__busy"> {{operatorBusy}}  Operatori occupati</span> <br/>
                <span class="card-footer__queue__free"> {{operatorFree}}  Operatori liberi </span>
            </div>
            <div *ngIf="ticketInWaiting < 2">
                <span>Grazie per la pazienza.</span>
                <span>Ti stiamo mettendo in contatto con un nostro operatore.</span>
            </div>
        </div>
    </div>
</div>