:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    mat-form-field {
      width: 100%;
    }
   

    form {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .dialog-input {
        font-size: 1em;
        margin-left: 10px;
      }

      a {
            color: #039be5 !important;
        }
    }

    .form__body {
      flex-grow: 1;
      display: block;
    }

    .form__footer {
      display: block;
      text-align: center;
    }

    .dialog-input {
      font-size: 2rem;
    }
    .dialog-header {
      position: relative;
      text-align: center;
    }
    .modal-title {
      font-size: 2em;
      font-weight: bold;
      background-color: white;
      padding-bottom: 20px;
        mat-icon {
            font-size: 2em;
            display: contents;
        }
    }

    .close-dialog {
      position: absolute;
      top: 0;
      right: -10px;
      outline: none;
    }

    .action-container {
      justify-content: center;
    }
}
