<div class="dialog-header" >
    <div>
        <h1 class="modal-title" [ngStyle]="setMyStyles()"><mat-icon>forum</mat-icon>{{data.service | titlecase}}</h1>
    </div>
    <button mat-button mat-dialog-close class="close-dialog"><mat-icon>close</mat-icon></button>
</div>
<form (ngSubmit)="onYesClick()" [formGroup]="formGroup">
    <div class="form__body">
      <mat-form-field class="mb-3"  appearance="outline" >
        <input matInput class="dialog-input form-control" type="text" placeholder="Numero da chiamare" formControlName="phone" required>
        <mat-icon matSuffix>local_phone</mat-icon>
        <mat-error class="error-message" *ngIf="formGroup.controls['phone'].hasError('required')">Campo obbligatorio</mat-error>
        <mat-error class="error-message" *ngIf="formGroup.controls['phone'].hasError('PhoneValidator')">Solo numeri</mat-error>
      </mat-form-field>

      <mat-form-field class="" appearance="outline">
            <mat-select formControlName="category" placeholder="Categoria" required>
                <mat-option *ngFor="let cat of categories" [value]="cat.id" >
                    {{cat.category}}
                </mat-option>
            </mat-select>
            <mat-error class="error-message" *ngIf="formGroup.controls['category'].hasError('required')">Campo obbligatorio</mat-error>
        </mat-form-field>

        <mat-form-field class="" appearance="outline">
            <textarea matInput matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="4" type="text" placeholder="Descrizione"  formControlName="description" required></textarea>
            <mat-error class="error-message" *ngIf="formGroup.controls['description'].hasError('required')">Campo obbligatorio</mat-error>
        </mat-form-field>
    </div>
    <div class="form__footer">
      <button mat-raised-button class="col-6" type="submit" color="accent" [disabled]="!formGroup.valid">
          Login
      </button>
    </div>
</form>
