:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  mat-form-field {
    padding-bottom: 0;
  }

  mat-dialog-content {
    min-height: auto;
    overflow: auto;
  }

  @import '../../../../../assets/scss/dialog.scss';

}
