<div class="chat" style="width: 100%;" fxFlex fxLayout="column">
    <div class="chat-header" >
        <h1 class="chat-header-operator">OP{{opName}} - {{timer}}</h1>

        <h1 class="chat-header-title"  *ngIf="showReplyMessage">CHAT IN CORSO</h1>
        <button mat-button class="chat-header-close" (click)="exit()" *ngIf="showReplyMessage" ><mat-icon>close</mat-icon></button>

        <h1 class="chat-header-title close" *ngIf="!showReplyMessage">CHAT TERMINATA</h1>
        <button mat-button class="chat-header-close close" (click)="goHome()" *ngIf="!showReplyMessage"><mat-icon>home</mat-icon></button>

      </div>
        <div fusePerfectScrollbar>
            <div id="chat-content">
                <!-- CHAT MESSAGES -->
                <div class="chat-messages" *ngFor="let message of ticketHistorys">
                    <!-- MESSAGE -->

                    <div fxLayout="row" class="message-row" [ngClass]="{'user': (message.type.type === 'OPERATOR')}"
                        *ngIf="message.type.type === 'USER' || message.type.type === 'OPERATOR'">
                        <div class="bubble">
                            <div class="message" innerHtml="{{message.action}}"></div>
                            <div class="time secondary-text">{{message.date_time | date:'medium':'UTC'}}</div>
                        </div>
                    </div>
                    <!-- / MESSAGE -->
                </div>
                <!-- CHAT MESSAGES -->
            </div>
        </div>
        <!-- / CHAT CONTENT -->
        <div #onWritingMsg class="on-writing">L'utente sta scrivendo........</div>
        <!-- CHAT FOOTER -->
        <div class="chat-footer" [hidden]="!showReplyMessage">
            <!-- REPLY FORM -->
            <form #replyForm="ngForm" (ngSubmit)="reply($event)" (keyup.enter)="reply($event)" (keydown)="typing($event)"
                fxFlex class="reply-form" fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field style="flex-grow: 1" floatPlaceholder="never">
                    <textarea matInput #replyInput placeholder="Scrivi il messaggio e premi Enter" ngModel name="message"></textarea>
                </mat-form-field>
                <button mat-mini-fab class="send__button" type="submit" aria-label="Send message">
                    <mat-icon>send</mat-icon>
                </button>
            </form>
            <!-- / REPLY FORM -->
        </div>
        <!-- / CHAT FOOTER-->
    </div>
 