:host {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    height: 90%;

    mat-dialog-content {
        height: 100%;
    }

  @import "../../../../../../assets/scss/dialod.scss";
   
}
