:host {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    height: 90%;

    mat-dialog-content {
        height: 100%;
    }
    .dialog-header {
      position: relative;
      text-align: center;
    }
    .modal-title {
        font-size: 3em;
        font-weight: bold;
        background-color: white !important;
        color: #6195CC !important;
        padding-bottom: 20px;
    }

    .close-dialog {
        text-align: right;
    }
    .button-close--outlined {
        outline: 0;
    }

}
