:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: url('assets/images/backgrounds/background2.jpg') 0% / cover no-repeat;

    .login_container {
        opacity: 0.85;
        mat-form-field {
            width: 100%;
        }

        width: 20em;
        height: 40em;
        background-color: white;
        padding: 20px;
        border-radius: 0.9rem;

        .logo-ens {
            width: 22rem;
            height: 16rem;
            color: #253C8D;
            align-self: center;
        } 
        .form__body {
            margin-bottom: 2em;
        }
        .form__footer {
            margin-bottom: 2em;
        }
    }

    @import '../../../assets/scss/dialog.scss';
}