:host {
    display: flex;
    flex-direction: column;
    height:100%;
    
    mat-dialog-content {
        display: flex;
        flex-direction: column;
    }

  @import "../../../../../../assets/scss/dialog.scss";

}
