:host {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    // height: 100%;

    mat-form-field {
      width: 100%;
    }
    mat-dialog-content {
      // min-height: 80%;
    }

    form {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      // height: 100%;
      .dialog-input {
        font-size: 1em;
      }
    }

    .form__footer {
      display: block;
      text-align: center;
    }

    .dialog-input {
      font-size: 2rem;
    }
    .dialog-header {
      position: relative;
      text-align: center;
    }
    .modal-title {
        font-size: 3em;
        font-weight: bold;
        background-color: white !important;
        color: #6195CC !important;
        padding-bottom: 20px;
    }

    .close-dialog {
        text-align: right;
    }
    .button-close--outlined {
        outline: 0;
    }

    .action-container {
      justify-content: center;
    }
}
