:host {
    margin-top: 8vh;
   .card {
        padding: 0;
        margin-left: 4em;
        margin-bottom: 2em;
        overflow: hidden;
        border-radius: 0.9rem !important;
        // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .card-header {
        border-bottom: none;
        background-color: white;
        overflow: hidden;
    }
    .card-body {
        text-align: center;
        font-size: 4em;
        font-weight: bold;
    }
    .card-footer {
        color: white !important;
        text-align: center;
        overflow: hidden;
    }
    .chat {
        .card-footer {
            background-color: #CC5B49;
        }
        .card-body {
            color:  #CC5B49;
        }
    }
    .videochat {
        .card-footer {
            background-color: #365FA5 !important;
        }
    }
    .sms {
        .card-footer {
            background-color: #E19D3E !important;
        }
    }
    .email {
        .card-footer {
            background-color: #2F684A !important;
        }
    }
    .telegram {
        .card-footer {
            background-color: #73B4E3 !important;
        }
    }
    .tutorial {
        .card-footer {
            background-color: white !important;
        }
        .card-footer {
            color: black !important;
        }
    }
    .telegram-svg {
        height: 20px;
        width: 20px;
        /* Other styles here */
    }
}

