
    <div class="home-page">
        <div class="row-top" [ngStyle]="{'background': bgSeason()}">
            <div class="top-header">
                <div class="title">
                    Comunica. Come vuoi, Dove vuoi.<br>
                    Tutto su Comunic@ens.
                </div>
                <div class="col-md-8">
                    <button type="button" class="btn btn-light col-md-5"  (click)="edit_profile()">Modifica profilo</button>
                    <button type="button" class="btn btn-danger col-md-5" (click)="logout()">Esci</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-bottom col-md-12" *ngIf="!userPrivacyAccepted">
                <div class="col-md-6 mb-20">
                    Le condizioni di <a [routerLink]="['/privacy']">privacy</a>  devono essere accettate
                    per poter usufruire del servizio.
                </div>
                <div class="col-md-6 mb-20">
                    <button type="button" class="btn btn-danger col-md-5"  (click)="edit_profile()">Modifica profilo</button>
                </div>
            </div>
            <div class="row row-bottom col-md-12" *ngIf="userPrivacyAccepted">
                <div class="col-md-6 mb-20">
                    <div class="card chat">
                        <div class="card-header">
                            <div *ngIf="isOpen('CHAT'); else chatElseBlock" class="is-open">Aperto</div>
                            <ng-template #chatElseBlock>
                                <div class="is-closed">Chiuso</div>
                            </ng-template>
                        </div>
                        <div class="card-body">
                            <mat-icon>forum</mat-icon>
                            <h1 class="card-title">Chat</h1>
                        </div>
                        <div class="card-footer text-muted" [ngClass]="{'service-close': !isOpen('CHAT')}" (click)="clickService('CHAT')">
                            <span>Procedi</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-20">
                    <div class="card videochat">
                        <div class="card-header">
                                <div *ngIf="isOpen('VIDEOCHAT'); else videochatElseBlock" class="is-open">Aperto</div>
                                <ng-template #videochatElseBlock>
                                    <div class="is-closed">Chiuso</div>
                                </ng-template>
                            </div>
                            <div class="card-body">
                                <mat-icon>videocam</mat-icon>
                                <h1 class="card-title">Video Chat</h1>
                            </div>
                            <div class="card-footer text-muted" [ngClass]="{'service-close': !isOpen('VIDEOCHAT')}" (click)="clickService('VIDEOCHAT')">
                                <span>Procedi</span>
                            </div>
                    </div>
                </div> 
            </div>

    </div>
</div>